@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body, html {
  background: #f1f2f6;
  overflow-x: hidden;
}

/* container width */
.navbar__container,
.top-bar__title,
.main {
  max-width: 1200px;
  margin: 0 auto;
}

/* navbar block */
.navbar {
  color: #fff;
  background: #40739e;

  height: 60px;
  width: 100%;

  border-bottom: 1px solid #fff;
}

.navbar__container {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 1.3rem;
}

.navbar__menu {
  display: flex;
}

.navbar__menu-item {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}

.navbar__menu-item:not(:last-of-type) {
  margin-right: 20px;
}

.navbar__menu-item:hover {
  text-decoration: underline;
}

/* top bar block */
.top-bar {
  height: 130px;
  width: 100%;

  background: #40739e;
}

.top-bar__title {
  color: #fff;
  font-size: 1.8rem;

  height: 100%;

  display: flex;
  align-items: center;
}

/* main block */
.main {
  display: flex;
}

.main__feed {
  padding-top: 20px;

  flex: 2;
  flex-shrink: 0;
}

.main__post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);

  padding: 10px 0;
  border-radius: 8px;
}

.main__post:not(:last-of-type) {
  margin-bottom: 40px;
}

.main__post-paragraph {
  margin: 10px 25px;
  line-height: 30px;
}

.main__ad-container {
  flex: 0 0 300px;
  margin: 20px 0 0 20px;
}

.main__ad {
  background: #b2bec3;
}

.main__ad.fixed {
  position: fixed;
  top: 20px;
}

/* loader */
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 50px auto;
  position: relative;
  border-top: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid #40739e;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
